@font-face {
    font-family: 'nasalization'; /* Give your font a unique name */
    src: url('../../public/fonts/nasalization/nasalization-rg.otf') format('opentype'); /* Path to font files */
    font-weight: normal;  /* Specify the font's weight */
    font-style: normal;  /* Specify the font's style */
}


@font-face {
    font-family: 'lemon_milk'; /* Give your font a unique name */
    src: url('../../../public/fonts/lemon_milk/LEMONMILK-Light.otf') format('opentype');/* Path to font files */
    font-weight: normal;  /* Specify the font's weight */
    font-style: normal;  /* Specify the font's style */
}

@font-face {
    font-family: 'good_times'; /* Give your font a unique name */
    src: url('../../../public/fonts/good_times/good_times.otf') format('opentype');/* Path to font files */
    font-weight: normal;  /* Specify the font's weight */
    font-style: normal;  /* Specify the font's style */
}

@font-face {
  font-family: 'dune_rise'; /* Give your font a unique name */
  src: url('../../../public/fonts/dune_rise/Dune_Rise.otf') format('opentype'),
  url('../../../public/fonts/dune_rise/Dune_Rise.ttf') format('truetype');
  /* Path to font files */
  font-weight: normal;  /* Specify the font's weight */
  font-style: normal;  /* Specify the font's style */
}