.page-content {
    background: rgb(64,9,120);
    background: linear-gradient(90deg, rgba(64,9,120,1) 0%, rgba(67,10,125,1) 22%, rgba(45,5,121,1) 54%, rgba(9,0,117,1) 100%);
}

header {
    top: 0px;
    display: flex;
    width: 100%;
    height: 10vh;
    padding: 5px;
    justify-content: space-around;
    align-items: center;
    background-color: transparent;
}

#menu {
    display: flex;
}

#menu ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

#menu ul li {
    margin: 0 10px;
    text-transform: uppercase;
}

#menu ul li a {
    text-decoration: none;
}

.button {
    background-color: #f4f4f4;
    color: #000;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
}

.content {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(90deg, rgba(64,9,120,1) 0%, rgba(67,10,125,1) 22%, rgba(45,5,121,1) 54%, rgba(9,0,117,1) 100%);
}

.title {
    margin-left: 10px;
    padding: 10px;
    text-transform: none;
    font-family: dune_rise;
    font-size: 2rem;
    color: aliceblue;
}