body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

#areas {
    margin: 0 auto;
    width: 100%;
}

.area {
    width: 100%;
    display: inline-block;
    margin: 10px;
    padding: 10px;
    color: white;
    background-color: rgb(57, 0, 131);
    box-shadow: rgba(0, 0, 0, .1) 0px 0px 15px 0px;
    border-radius: 10px;
}

.area .titleView {
    font-family: lemon_milk;
    padding: 5px;
}

.area .curseView {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.curse {
    margin: 10px;
    padding: 10px;
    width: 200px;
}