*{
    margin: 0;
    padding: 0;

}

html, body {
    height: 100%; /* Garante que ambos ocupem 100% da altura da viewport */
    
  }

body {
    text-align: center; 
    
    
 }

 .div{
    background:url(industria-4-0-o-que-e-conceitos.jpg);
    background-size: cover;
    display: flex;
    align-items: center;
    
 }

 
.main{
   background-color:white;
   /*margin-left: 155px;*/
   /*background-size:contain;*/
   height: 100vh;
   
   width: 80%;
   background-size: cover;
   margin-left: auto;
   margin-right: auto;
    
}

.search{
    margin: 0;
    padding: 0;
    
    
    /*padding-left: 340px;*/
    background-color: grey;
    height: 55px;
    gap: 0;
    align-items: center;
    display: flex;
    justify-content: center;
    width: 100%;

    
}

input[type="text"]{
    flex: 1;
    margin: 0;
    padding:0;
}

.btn {
    margin: 0;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.srch{
    width: 800px;
    height:40px;
    border: 2px solid black;
    margin-top: 0%;
    border-radius: 20px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    margin-top: 4px;
    font-size: medium;
    text-align: end;
    margin: 0;
    padding: 0;

    
    
}





.btn{
    width:105px;
    height: 40px;
    background: #ff7200;
    border:2px solid #ff7200;
    color: #fff;
    font-size: 15px;
   
    transition: 0.2s ease;
    cursor: pointer;
    border:3px solid #ff7200;
    margin: 0;
    padding: 0;
    /*margin-top: 5px;*/
   
}

.btn:hover{
    color: #000;
}

.btn:focus{
    outline: none;
}
