* {
    margin: 0 auto;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

header {
    position: absolute;
    top: 0px;
    display: flex;
    width: 100%;
    height: 10vh;
    padding: 5px;
    justify-content: space-around;
    align-items: center;
    background-color: transparent;
}

#menu ul {
    display: flex;
    list-style: none;
}

#menu ul li {
    margin: 0 10px;
    text-transform: uppercase;
}

#menu ul li a {
    text-decoration: none;
}

.button {
    background-color: #f4f4f4;
    color: #000;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
}

#presentation {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    background: rgb(64,9,120);
    background: linear-gradient(90deg, rgba(64,9,120,1) 0%, rgba(67,10,125,1) 22%, rgba(45,5,121,1) 54%, rgba(9,0,117,1) 100%);
}

#presentation #animation{
    width: 30%;
    height: 40%;
    position: absolute;
    z-index: 0;
}

#presentation #title {
    font-family: dune_rise;
    text-transform: uppercase;
    color: #fff;
    font-size: 2rem;
    z-index: 1;
}

@media screen and (max-width: 768px) {
    #presentation #animation{
        width: 60%;
        height: 30%;
        position: absolute;
        z-index: 0;
    }
    
    #presentation #title {
        font-size: 1rem;
    }
    
}

#content {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(90deg, rgba(64,9,120,1) 0%, rgba(67,10,125,1) 22%, rgba(45,5,121,1) 54%, rgba(9,0,117,1) 100%);
}

@font-face {
    font-family: 'nasalization'; /* Give your font a unique name */
    src: url('../../public/fonts/nasalization/nasalization-rg.otf') format('opentype'); /* Path to font files */
    font-weight: normal;  /* Specify the font's weight */
    font-style: normal;  /* Specify the font's style */
}


@font-face {
    font-family: 'lemon_milk'; /* Give your font a unique name */
    src: url('../../public/fonts/lemon_milk/LEMONMILK-Light.otf') format('opentype');/* Path to font files */
    font-weight: normal;  /* Specify the font's weight */
    font-style: normal;  /* Specify the font's style */
}

@font-face {
    font-family: 'good_times'; /* Give your font a unique name */
    src: url('../../public/fonts/good_times/good_times.otf') format('opentype');/* Path to font files */
    font-weight: normal;  /* Specify the font's weight */
    font-style: normal;  /* Specify the font's style */
}

@font-face {
  font-family: 'dune_rise'; /* Give your font a unique name */
  src: url('../../public/fonts/dune_rise/Dune_Rise.otf') format('opentype'),
  url('../../public/fonts/dune_rise/Dune_Rise.ttf') format('truetype');
  /* Path to font files */
  font-weight: normal;  /* Specify the font's weight */
  font-style: normal;  /* Specify the font's style */
}