*{
    margin: 0;
    padding: 0;

}

html, body {
    height: 100%; /* Garante que ambos ocupem 100% da altura da viewport */
    
  }

body {
    text-align: center; 
    
    
 }

 .div{
    background:url(industria-4-0-o-que-e-conceitos.jpg);
    background-size: cover;
    display: flex;
    align-items: center;
    
 }

 
.main{
   background-color:white;
   /*margin-left: 155px;*/
   /*background-size:contain;*/
   height: 100vh;
   
   width: 80%;
   background-size: cover;
   margin-left: auto;
   margin-right: auto;
    
}

.search{
    margin: 0;
    padding: 0;
    
    
    /*padding-left: 340px;*/
    background-color: grey;
    height: 55px;
    gap: 0;
    align-items: center;
    display: flex;
    justify-content: center;
    width: 100%;

    
}

input[type="text"]{
    flex: 1;
    margin: 0;
    padding:0;
}

.btn {
    margin: 0;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.srch{
    width: 800px;
    height:40px;
    border: 2px solid black;
    margin-top: 0%;
    border-radius: 20px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    margin-top: 4px;
    font-size: medium;
    text-align: end;
    margin: 0;
    padding: 0;

    
    
}





.btn{
    width:105px;
    height: 40px;
    background: #ff7200;
    border:2px solid #ff7200;
    color: #fff;
    font-size: 15px;
   
    transition: 0.2s ease;
    cursor: pointer;
    border:3px solid #ff7200;
    margin: 0;
    padding: 0;
    /*margin-top: 5px;*/
   
}


.btn:hover{
    color: #000;
}

.btn:focus{
    outline: none;
}

























.content{
    /*margin-top: 40px;*/
    position:absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
}

/*.ensino {
    position: relative;
    background-color: #fff;
    
}

.texto{
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 1;
}*/

.content h1{
align-items: center;
margin-top: 20px;
}

/*.content .btnn{
    margin-left: 450px;

}*/


.btnn{

    
    background-color: black;
    
    width: 240px;
    height: 80px;
    border-radius: 15px;
    font-size: large;
    margin: 0 15px;
    margin-top: 60px;
    /*position: relative;*/
    

}

.btnn a{

        text-decoration: none;
        color:#f4f1f1;
        font-weight: bolder;
      
        /*position: absolute;
        top: 50%;
        left: 50%;
        z-index: 1;*/
}

/*.content img{
    
    /*width: 900px;
    height: 600px;
    background-color:#fff;
    
    margin: 0%;
    padding: 0%;
    height: 300px;
    width: auto;
    margin-top: 55px;
    
    
}*/

.form{
    margin-top: 80px;

}

.form .link {
    text-decoration: none;
    padding-top: 35px;
    line-height: 2em;
    text-decoration: none;
}

.form .link :hover{
    color: purple;
}

.form input {
    letter-spacing: 1px;
    margin: 8px;
}

#first{
    padding-right: 40px;
    
}

#snd{
    
}

.btn1 {
    text-align: center;
    background-color: #ff7200;
    border: none;
    width: 200px;
    height: 40px;
    border-radius: 10px;
}

.btn1 a{
    text-decoration: none;
    color: #f4f1f1;
    font-size: 18px;
}
